html, body {
    height: 75px;
    width: 200px;
    margin: 0;
  }
  
  .botao {
    height: 30%;
    width: 90%;
    margin: 3% auto;
    padding-top: 6%;
    text-align: center;
    font-size: 1.5em;
    background-color: #E5F2F2;
    cursor: pointer;
  }